
<!doctype html>
<html>
    <title>
        Mall Customer Clustering
    </title>
   <body>
       <center><h1>Listing the customers in the each clusters</h1></center>
       <br>
       
       <b>length of customer cluster1:</b>{{l[0]}}

       <br>
       <b>customers cluster1 ID's :</b>
       {%for CustomerID in c[0] -%}
       {{CustomerID}},
       {% endfor %}
       <br>
       <br>
       -----------------------------------------------------------------------------------
       -----------------------------------------------------------------------------------
       <br>
       -----------------------------------------------------------------------------------
       -----------------------------------------------------------------------------------
       <br>
       <br>
       <b>length of customer cluster2:</b>{{l[1]}}

       <br>
       <b>customers cluster2 ID's :</b>
       {%for CustomerID in c[1] -%}
       {{CustomerID}},
       {% endfor %}
       <br>
       <br>
       -----------------------------------------------------------------------------------
       -----------------------------------------------------------------------------------
       <br>
       -----------------------------------------------------------------------------------
       -----------------------------------------------------------------------------------
       <br>
       <br>
       <b>length of customer cluster3:</b>{{l[2]}}

       <br>
       <b>customers cluster3 ID's :</b>
       {%for CustomerID in c[2] -%}
       {{CustomerID}},
       {% endfor %}
       <br>
       <br>
       -----------------------------------------------------------------------------------
       -----------------------------------------------------------------------------------
       <br>
       -----------------------------------------------------------------------------------
       -----------------------------------------------------------------------------------
       <br>
       <br>
       <b>length of customer cluster4:</b>{{l[3]}}

       <br>
       <b>customers cluster4 ID's :</b>
       {%for CustomerID in c[3] -%}
       {{CustomerID}},
       {% endfor %}
       <br>
       <br>
       -----------------------------------------------------------------------------------
       -----------------------------------------------------------------------------------
       <br>
       -----------------------------------------------------------------------------------
       -----------------------------------------------------------------------------------
       <br>
       <br>
       <b>length of customer cluster5:</b>{{l[4]}}

       <br>
       <b>customers cluster5 ID's:</b>
       {%for CustomerID in c[4] -%}
       {{CustomerID}},
       {% endfor %}
       <br>
       <br>
   </body>
</html>